* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */

:root {
  --font-family: "Lexend", serif;
  --font-second-base:'Inter',sans-serif;
  --bg-color:#111;
  --primary-color: #ffffff;
  --secondary-color:#e50914;
}

body{
    background-color: #111;
}
element.style{
  padding: 10px
}

/* @media screen and (max-width: 900px) and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  } */